normalize-css()

// DEBUGGING
 //html *
  //b()

body
  font-family "Arial" !important

#wrapper
  margin-top 10px

// when viewing through iphone stuff
// get vertical center (well, kinda)
@media (max-width: 320px)
  #wrapper
    margin-top 40%

/* submission-form.jade */
#feedback
  margin-top 50px
  z-index 1

#email
  width 250px
  margin-bottom 10px

#suggestion
  width 250px

#submit_button
  margin-top 10px

@media (min-width: 790px)
  #suggestion, #email
    width 200%

#errorMessage
  z-index -10
  color #E81518
  margin-top 10px
  font-weight 200
  margin-left 3%

#successMessage
  z-index -10
  color #15E8A2
  margin-top 10px
  font-weight 200
  width 200px
  margin-left 3%
 
.about-text
   font-family apple_regular

.nav-text
  font-family Super-Effective
  color #FF3C77
  font-size 28px

highlight
  color #FF3C77	
  
highlight a
  color #FF3C77
  
.logo_and_navbar
  margin-top 85px

.nav-logo
  margin-top: -15px !important

 .footer
   padding-top 100px

 .footer p
   float right