normalize-css()

// DEBUGGING
 //html *
  //b()

#wrapper
  margin-top 50px

// when viewing through iphone stuff
// get vertical center (well, kinda)
@media (max-width: 320px)
  #wrapper
    margin-top 40%

@media (max-width: 725px)
  .nextUrl
    opacity 0
  .prevUrl
    opacity 0

/* submission-form.jade */
#feedback
  margin-top 50px
  z-index 1

#email
  width 10px
  margin-bottom 10px

#suggestion
  width 250px

#submit_button
  margin-top 10px

@media (min-width: 994px)
  #contactsuggestion, #contactemail
    width 200%

@media (max-width: 990px)
  #contactsuggestion, #contactemail
    width 100%
    
@media (min-width: 790px)
  #loginsuggestion, #loginemail
    width 100%

messageLayout()
  z-index -10
  margin-top 10px
  font-weight 200
  margin-left 3%

#errorMessage
  messageLayout()
  color #E81518

#successMessage
  messageLayout()
  color #15E8A2
 
.app
  min-height 300px

.about-text
   font-family apple_regular

.nav-text
  font-family Super-Effective
  color #FF3C77
  font-size 28px
  
.upload-nav-text
  font-size 36px
  font-family Courier New
  color black
  
.going-right
  margin-left 80%

.lil-extra
  margin-left 20px

highlight highlight a
  color #FF3C77	
  
.logo_and_navbar
  margin-top 25px

.nav-logo
  margin-top -15px !important

.footer
   padding-top 100px

.footer p
   float right     

#intialContent
  display none
    
.img-centre
   margin 0 auto
   opacity 0

.singleHolder
  height 700px
  width 500px

.singleIll
  position relative
  max-width 100%
  max-height 100%
 
.cloudinary_fileupload
  color transparent

.illRow
  margin-top 20px
    
.loading
  position fixed
  opacity 0.1px
  left 0px
  top 0px
  width 100%
  height 100%
  z-index 9999
  background url('https://s3-eu-west-1.amazonaws.com/paddystaging/loading.gif') 50% 50% no-repeat 
  
.centerIll
  height 400px
  overflow hidden
    
.uploader-panel
 border 4px solid #eee
 
.uploadbutton
  margin-top 10px

//Arrow mixin
arrowNav()
  top 40%
  display inline
  position fixed
  
.prevUrl
  left 50px
  arrowNav()
  
.nextUrl
  right 60px
  arrowNav()

.multipleIll
  opacity 0
  max-width 100%
  max-height 100%

