extends ../layout
block content
  .col-md-6
    p.about-text Hi! my name's Paddy Walsh. 
    p.about-text I'm a freelance illustrator <br> based in <highlight> Dublin, Ireland.
    p.about-text I like to make illustrations <br> using <highlight> simple colours </highlight> and a 
      <br> <highlight> clean, descriptive line. </highlight>
    p.about-text My style is mostly <highlight> realistic </highlight>
      <br> but has a <highlight> cartoony edge </highlight> to
      <br> allow for more possibilities.
      <br> I make illustrations that are
      <br> <highlight> witty, fun </highlight> and <highlight> irreverent </highlight>
      <br> without being facetious or
      <br> tasteless... Perfect for
      <br> <highlight> editorial, advertising </highlight> and
      <br> <highlight> book illustration </highlight>, though I'm
      <br> enthusiastic about working in
      <br> new areas all of the time!
    p.about-text So, if you'd like to <highlight> get-in
      <br> touch </highlight> then please do-
      <br> You can email me at
      <br> <highlight> paddhuiy@gmail.com </highlight> or just
      <br> shoot me a tweet <highlight> @paddhuiy </highlight>
    p.about-text  Go on, I like a chat
      <br> ...
  .col-md-
    img(src="images/AboutAvi.jpg")