extends ../layout
block content
  .col-md-6
    p.about-text Hi! My name's Paddhuiy.
    p.about-text I'm a freelance illustrator <br> based in <highlight> Dublin, Ireland.</highlight>
    p.about-text I make illustrations using a
      <br> <highlight> clean, descriptive line </highlight>and
      <br> <highlight> simple, flat colours</highlight>.
    p.about-text I take elements from<highlight> comics,</highlight>
      <br><highlight>animation</highlight> and <highlight> fashion
      <br> illustration </highlight> to make drawings
      <br> that are <highlight> stylish, fun, distinct </highlight>
      <br> and <highlight> irreverent</highlight> without being
      <br> facetious or tasteless.
      <br> Perfect for <highlight> editorial,</highlight>
      <br> <highlight>advertising </highlight>and <highlight>book
      <br> illustration</highlight>, though I'm
      <br> enthusiastic about working in
      <br> new areas all the time.
    p.about-text So, if you'd like to <highlight> get in
      <br> touch </highlight> then please do-
      <br> You can email me at
      <br> <highlight> paddhuiy@gmail.com </highlight> or just
      <br> shoot me a tweet <highlight> <a href="https://twitter.com/paddhuiy">@paddhuiy</a> </highlight>
    p.about-text  Go on, I like a chat.
  .col-md-6
    img.img-responsive#aboutImg(src="https://s3-eu-west-1.amazonaws.com/paddystaging/About+Image+New.png")
