extends ../layout
block content
  .col-md-6
    p.about-text Want to see more?
    <br>
    p.about-text To see sketches, doodles,
      <br> experiments and works in
      <br> progress you can follow my
      <br> tumblr.blog
    <br>
    p.about-text Just click <highlight> <a href="http://paddhuiy.tumblr.com/">here</a> </highlight>
    <br>
    p.about-text Only if you want, like.
    <br>
    p.about-text I mean, I'd be thrilled, but I don't want to pressure you.
    <br>
    p.about-text ...
    <br>
    p.about-text Did you click it? Asking for a
     <br>mate...
   .col-md-6
     img.img-responsive#blogImg(src="ttps://s3-eu-west-1.amazonaws.com/paddystaging/BlogImage2.png")