extends ../layout
block backbone
  script.
    requirejs(['init']);
  div#intialContent
    = photos
  div.app.container
    .loading
  script(id = "illustrationTemplate", type = "text/x-handlebars")
    if photos
    <div class = "col-md-4 centerIll">
    <a href="#" class="singleIllLink">
    <img class ="img-responsive img-fade multipleIll" src = "{{image.url}}"/>
    </a>
    </div>
    
  script(id = "singleIllustrationTemplate", type = "text/x-handlebars")
    <div class = "col-md-12">
    <img class="img-responsive img-fade img-centre singleIll" src="{{image.url}}"</img>
    </div>
    </div>
    </div>   
  