extends ../layout
block backbone
  script.
    requirejs(['init']);
  div#intialContent
    = photos
  div.app
    .loading
  script(id = "illustrationTemplate", type = "text/x-handlebars")
    if photos
    <div class = "col-md-4 centerIll">
    <a href="#" class="singleIllLink">
    <img id = "{{image.public_id}}" class ="img-responsive img-fade multipleIll" src = "{{image.url}}"/>
    </a>
    </div>
    
  script(id = "singleIllustrationTemplate", type = "text/x-handlebars")
    <div class = "col-md-12 singleHolder">
    <img class="img-responsive img-centre singleIll" height ="550" width="400"src="{{image.url}}"/>
    {{#if prevUrl}}
    <div class="prevUrl">
    <img class="img-responsive" src="images/Gallery-Arrow-left.png"/>
    </div>
    {{/if}}
    {{#if nextUrl}}
    <div class="nextUrl">
    <img class="img-responsive"src="images/Gallery-Arrow-Right.png"/>
    </div>
    {{/if}}
    </div> 
  