extends ../layout
block content
  div#intialContent
    = photos
  div.app
  script(id = "illustrationTemplate", type = "text/x-handlebars")
    if photos
    <div class = "col-md-4">
    <a href="#" class="singleIllLink">
    <img class ="img-responsive img-fade" src = "{{image.url}}" height = "300" width = "300"/>
    </a>
    </div>
    
  script(id = "singleIllustrationTemplate", type = "text/x-handlebars")
    <div class = "col-md-12">
    <img class="img-responsive img-fade img-centre" height ="750" width="600" src="{{image.url}}"</img>
    {{#if prevUrl}}
    <a class="prevIll centre-links" href="#">Previous</a>
    {{/if}}
    {{#if nextUrl}}
    <a class= "nextIll centre-links" href="#">     Next</a>
    {{/if}}
    </div>   
  