extends ../layout
block content
  div#intialContent
    = photos
  div.app
  script(id = "illustrationTemplate", type = "text/x-handlebars")
    if photos
    <div class = "col-md-4 centerIll">
    <a href="#" class="singleIllLink">
    <img class ="img-responsive img-fade multipleIll" src = "{{image.url}}"/>
    </a>
    </div>
    
  script(id = "singleIllustrationTemplate", type = "text/x-handlebars")
    <div class = "col-md-12">
    <img class="img-responsive img-fade img-centre" height ="750" width="600" src="{{image.url}}"</img>
    <div class="row">
    <div class= "centre-links">
    {{#if prevUrl}}
    <a class="prevIll" href="#">Previous /</a>
    {{/if}}
    {{#if nextUrl}}
    <a class= "nextIll text-center" href="#">Next</a>
    {{/if}}
    </div>
    </div>
    </div>   
  