doctype
html
  head
    title WheresWallie - #{title}
    link(rel='stylesheet', href='/custom-fonts/apple/stylesheet.css')
    link(rel='stylesheet', href='/custom-fonts/super-effective/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    script(src='/scripts/lib/require.js', data-main='/scripts/require.config.js')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    .row.logo_and_navbar
      .col-md-12
        nav.navbar.navbar-default(role = "navigation")
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type = "button" data-toggle = "collapse" data-target = "#navbar-collapse-eg")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                  span.icon-bar
              a.navbar-brand(href = "/")
                img.img-responsive.nav-logo(src= "images/Logo1.png" width = "280")
            .collapse.navbar-collapse#navbar-collapse-eg
              ul.nav.navbar-nav.navbar-right.custom-down
                li
                  a.nav-text(href="/gallery") ILLUSTRATION
                li
                  a.nav-text(href="/about") ABOUT
                li
                  a.nav-text(href="/blog") BLOG
                li
                  a.nav-text(href="/contact") CONTACT
   body
     block home
     .container
      #wrapper
        #switch-content
          block content
         // script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
          //script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
          //script(src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
          //script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js")
          //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
        .row
          .footer
            p.Super-Effective Copywrite @ Paddhuiy Illustration 2015