doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.min.css')
    //link(rel='stylesheet', href='/custom-fonts/super-effective/stylesheet.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    //link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
  body
     block home
     .container
      #wrapper
        #switch-content
          block content