doctype
html
  head
    title Admin Homepage
    link(rel='stylesheet', href='/custom-fonts/apple/stylesheet.css')
    link(rel='stylesheet', href='/custom-fonts/super-effective/stylesheet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    script(src='/scripts/lib/require.js', data-main='/scripts/require.config.js')
    
   
  body
     block home
     .container
      #wrapper
        #switch-content
          block content