doctype
html
  head
    title Admin Homepage
    link(rel='stylesheet', href='/css/style.min.css') 
    .row.logo_and_navbar
      .col-md-12
        .going-right
          a.upload-nav-text(href="/") Site 
          a.upload-nav-text.lil-extra(href="/logout") Logout
  body
     block home
     .container
      #wrapper
        #switch-content
          script(src='/lib/require.js', data-main='/require.config.js')
          block content
          block backbone