extends ../layout
block content
  - function isObjectEmpty(obj){
  -     var name;
  -     for(name in obj){
  -         return false;
  -     }
  -     return true;
  - }
  -   if (isObjectEmpty(message) == false)
    p #{message}
  .col-sm-6
    h1 control panel
    form(action="/imagepanel", method="POST", enctype="multipart/form-data")
      input(type="file", name='image')
      input(type="submit", value="Upload Image")
    form(action="/removeImage", method="POST", enctype="multipart/form-data")
      .form-group
        button.btn.btn-warning(type="submit", name='remove') remove Image
   .col-sm-6
     